# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# Environment variables / secrets
.env
.env.*
!.env.example

# Azure
.azure/

# VS Code
.vscode/

# Visual Studio
.vs/

# IntelliJ
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
npm-debug.log*